body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: bisque;
    margin: 0;
    padding: 0;
}
.dark-mode{
    background-color: grey;
  height: 100%;
  width: 100%;
}
.dark-mode span{
    color: white;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 70%;
    margin: 2rem;
    padding: 2rem;
}

.inputbox{
    position: relative;
    height: 30%;
    width: 50%;
    border: 2px solid ;
    background-color: lightgray;
    font-size: 40px;
    padding: 1%;
    border-radius: 12px;
}
.inputbox.active{
    background-color: white;
    border:none;
}
.ouputbox{
    position: relative;
    height: 30%;
    width: 50%;
    border: 2px solid ;
    background-color: lightgray;
    font-size: 40px;
    padding: 1%;
    border-radius: 12px;
    text-align: right;
    padding-left: 1%;
}
.ouputbox.active{
    background-color: white;
    border:none;
}
.input-container{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: relative;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
}
.number-digit-container{
    position: relative;
    top: 10%;
    left: 23%;
    height: 100%;
    width: 50%;
    background-color: chocolate;
    border-radius: 12px;
    border:none;
    padding: 2%;
}
.number-digit-container.active{
    background-color: green;
}
.digits-and-operators{
    position: relative;
    left: 2%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 20px 10px;
    height: 100%;
    width:100%;

}
.numberdigit-btn{
    height: 80%;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 2px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.numberdigit-btn:hover{
    box-shadow: 2px 4px 5px rgba(0, 0, 0);
  
}
strong{
    color: blue;
    text-decoration: underline;
}
footer {
    width: 100%;
    text-align: start;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: black;
    background-color: transparent;
    position: relative;
    top: 10px;
    left:2%;
    clear: both;
}
.nav-bar{
    position: relative;
    z-index: 2;
    height: 10%;
    width: 100%;
    background-color: chocolate;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.nav-bar.active{
    background-color: green;
}
.span-alignment{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 27px;
    font-weight: bold;
}

.toggle-btn{
    position: relative;
    right: 20px;
    height: 1rem;
    width: 4.5rem;
    background-color: white;
    padding: 2px;
    border: none;
    border-radius: 20px;        
}
.ball-btn{
    position: relative;
    top: -13px;
    left:-2px;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    background-color: wheat;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.ball-btn.active{
    transform: translateX(2.5rem);
}
