body{
    overflow: hidden;
    background-color: bisque;
}
@media (max-width: 1080px){
    body{
        overflow: auto;
    }
}
.mainContainer{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    margin: 2rem;
    padding: 2rem;
}

.inputbox{
    position: relative;
    height: 30%;
    width: 90%;
    border: 2px solid ;
    background-color: lightgray;
    font-size: 40px;
    padding: 1%;
    border-radius: 12px;
}
.ouputbox{
    position: relative;
    height: 30%;
    width: 90%;
    border: 2px solid ;
    background-color: lightgray;
    font-size: 40px;
    padding: 1%;
    border-radius: 12px;
    text-align: right;
    padding-left: 1%;
}
.input-container{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: relative;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
}
.number-digit-container{
    position: relative;
    top: 10%;
    left: 5%;
    height: 100%;
    width: 90%;
    background-color: chocolate;
    border-radius: 12px;
    border:none;
    padding: 2%;
}
.digits-and-operators{
    position: relative;
    left: 2%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 20px 10px;
    height: 100%;
    width:100%;

}
.numberdigit-btn{
    height: 80%;
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 2px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.numberdigit-btn:hover{
    box-shadow: 2px 4px 5px rgba(0, 0, 0);
}
strong{
    color: blue;
    text-decoration: underline;
}
footer{
    position: relative;
    top: 20px;
    left: 2%;
}